.search {
  display:flex;
  border: 1px solid #EBEBEB;
  align-items: center;
  border-radius: 15px;
  padding-left: 13px;
  padding-right: 16px;
  gap: 11px;
  height: 45px;
}
.searchImage {
  height: 15px;
  width: 15px;
}
.searchInput {
  flex-grow: 1;
  border: none;
  outline: none;
}

.itemsCount {
  color: #D1D1D1
}

.customTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  font-family: "Roboto";
}

.customTable thead tr {
  color: #999999;
  text-align: left;
}

.tableRow {
  height: 70px;
}
.tableRow:hover {
  box-shadow: 0px 0px 20px 0px #00000026;
}
.nameTd {
  padding-left: 15px;
  color: #474747;
  font-weight: 500;
  border-radius: 3px;
}

.nameTd_market {
  border-left: 4px solid #e14165;
}
.nameTd_games {
  border-left: 4px solid #8686ff;
}
.nameTd_delivery {
  border-left: 4px solid #c2c2ff;
}
.typeTd {
  font-weight: 500;
  color: #5c5c5c;
}

.siteTd {
  font-weight: 400;
  color: #5c5c5c;
}

.tableHead {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.online {
  color: #1bda9d;
}

.paused {
  color: #ff8346;
}

.draft {
  color: #5c5c5c;
}

.stopped {
  color: #fe4848;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Montserrat";
  color: #ffffff;
  height: 30px;
  width: 95px;
}
.action_results {
  background-color: #2ee5ac;
}
.action_finalize {
  background-color: #7d7d7d;
}
.chevron {
  padding-left: 6px;
  width: 15px;
}
.noResults {
  padding-top: 218px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
}